<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link href="//db.onlinewebfonts.com/c/207d3f57810bef8d49e2f1b5f1722fb2?family=Purista" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href=".vscode">
    <title>Inicio sesión</title>
</head>
<body>
    <header class = "main-header">
        <div class="top-header" >
            <a href="/"><img class="logo" src = "/images/logo-b.svg" alt ="logo de marca"></a>
             <nav class="links-user">
                 <ul>
                     <li><a href = "/register">Crear cuenta |</a></li> 
                     <li><a href = "/login">Iniciar sesión</a></li>
                 </ul>
             </nav>
            </div>
            <nav class="bottom-header" >
                    <ul class = "links-v">
                        <li><a class ="naranja-v" href = "/">HOME </a></li>
                        <li><a href = "/">PRODUCTOS </a></li>
                        <li><a href = "/">OFERTAS</a></li>
                    </ul>
                    <div class = "search-v">
                        <div class="form" action="#" method="GET">
                            <div class="input">Buscar
                                <div class="submit"><i class="fa fa-search"></i></div>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>
    <main class="main-login-register">
        <section class="efecto-principal">
            <h2 class="lines-effect">INICIAR SESIÓN</h2>
        </section>
        <!--
        <section class="login-form">
           <h4>Email</h4>
           <input class='control' type="email" id="email" name="visitor_email" placeholder="ejemplo@gmail.com">
           <h4>Contraseña</h4>
           <input class='control' type="pasword" id="pasword" name="visitor_pasword" placeholder="Contraseña">
           <a href=#><p>¿Olvidaste tu contraseña?</p></a>
           <div class="login-btn">
           <input class="button" type="submit" value="INICIAR SESIÓN">
           <p>¿No tenés cuenta? <a href="/register">Registrate acá!</a></p>
           </div> 
        </section>
        -->
        <form class="login-register-form" action="#" method="post">
            <div>
                <label for="email">Email</label>
                <input class='control' type="email" id="email" name="visitor_email" placeholder="ejemplo@gmail.com" required>
            </div>
            <div>
                <label for="password">Contraseña</label>
                <input class='control' type="password" id="password" name="visitor_password" placeholder="Contraseña" required>
                <a href=#><p>¿Olvidaste tu contraseña?</p></a>
            </div>
            <div class="login-register-btn" id="remember">
                <label for="remember"><p>Recordar mi usuario</p></label>
                <input type="checkbox" id="remember" name="remember" value="remember">
            </div>
            <div class="login-register-btn">
                <input class="button" type="submit" value="INICIAR SESIÓN">
                <p>¿No tenés cuenta? <a href="/register">Registrate acá!</a></p>
            </div>

        </form>
        
        <section class="follow">
            <h3 class="lines-effect">¡SEGUÍNOS!</h3>
        </section>
        <section>
            <div class="follow-icons">
                <a href="https://www.instagram.com" target="_blank"><!-- img src="/images/logo-ig.jpg" alt="Instagram"--><i class="fab fa-instagram" id="logo-ig"></i></a>
                <a href="https://www.facebook.com" target="_blank"><!-- img src="/images/logo-face.jpg" alt="Facebook"--><i class="fab fa-facebook" id="logo-fb"></i></a>
                <a href="https://web.whatsapp.com" target="_blank"><!--img src="/images/logo-wsp.jpg" alt="Whatsapp"--><i class="fab fa-whatsapp" id="logo-wsp"></i></a>
            </div>
        </section>
        <hr>
        <section class="comentario">
            <article class="envio">
                <i class="fas fa-truck"><span>NO TE MUEVAS DE CASA</span></i>
                <p>Hacemos envíos a todo el país</p>
            </article>
            <article class="pago">
                <i class="fas fa-credit-card"><span>PAGÁ COMO QUIERAS</span></i>
                <p>Aceptamos crédito, débito o efectivo</p>
            </article>
            <article class="calidad">
                <i class="far fa-handshake"><span>CALIDAD ASEGURADA</span></i>
                <p>Usamos materiales de primera claidad</p>
            </article>
        </section>
    </main>   
    <footer class ="footer-detail">
        <div>
            <section>
                <h2>Información</h2>
                <h3>Preguntas Frecuentes</h3>
                <h3>Quienes Somos</h3>
            </section>
            <br>
        <section>
            <h2>Medios de Pago</h2>
            <div class="icons-v">
                <div><i class="far fa-money-bill-alt"></i></div>
                <div><i class="fab fa-cc-visa"></i></div>
                <div><i class="fab fa-cc-amex"></i></div>
                <div><i class="fab fa-cc-mastercard"></i></div>
            </div>
            </section>
            <br>
        <section class ="contac-v">
            <h2>Contactanos</h2>
                <div><i class="fas fa-phone-alt"><span>1111111111</span></i></div>
                <div><i class="fas fa-envelope"></i><span>los3mosqueteros@gmail.com</span></i></div>
        </section>
    </div>
    </footer>
</body>
</html>