<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link href="//db.onlinewebfonts.com/c/207d3f57810bef8d49e2f1b5f1722fb2?family=Purista" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href=".vscode">
    <title>Detalle del Producto</title>
</head>
<body>
    <header class = "main-header">
        <div class="top-header" >
            <a href="/"><img class="logo" src = "/images/logo-b.svg" alt ="logo de marca"></a>
             <nav class="links-user">
                 <ul>
                     <li><a href = "/register">Crear cuenta |</a></li> 
                     <li><a href = "/login">Iniciar sesión</a></li>
                 </ul>
             </nav>
            </div>
            <nav class="bottom-header" >
                    <ul class = "links-v">
                        <li><a class ="naranja-v" href = "/">HOME </a></li>
                        <li><a href = "/">PRODUCTOS </a></li>
                        <li><a href = "/">OFERTAS</a></li>
                    </ul>
                    <div class = "search-v">
                        <div class="form" action="#" method="GET">
                            <div class="input">Buscar
                                <div class="submit"><i class="fa fa-search"></i></div>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>
    <main>
        <section class="efecto-principal-v">
            <h3 class="lines-effect-v">Detalle del Producto</h3>
        </section>
        <div class="conteiner-main">
                    <img class="imgproducto-v" src ="/images/escritorio.jpg" alt="Escritorio">
                    <div class="infoproducto-v">
                        <h2>Escritorio</h2>
                        <br>
                        <h2>$40.000</h2>
                        <br>
                        <h3>Descripción:
                            <p class="description-v"> Escritorio hecho con madera refinada y soporte de hierro en forma de X. Con un atractivo diseño, este modelo combina lo fino y delicado con el estilo industrial e informal, ideal para cualquier espacio de la casa.</p>
                        </h3>
                        <br>
                        <h3>Medidas:
                            <p>74cm de altura - 60 cm de ancho - 120cm de largo.</p>
                        </h3>
                        <br>
                        <h3>Información adicional:
                            <p class = "description-v">El modelo se entregará armado al domicilio indicado. Consulte el costo de envió según su ubicación.</p>
                            <p class = "description-v">Las medidas pueden ser personalizadas según su preferencia.</p>
                        </h3>
                        <form action = "/carrito" method = "POST"> 
                            <p>
                                <button class = "button-carrito" type = "submit">Agregar al carrito</button>
                            </p>
                        </form>
                    </div>
                </div>
                <section class="follow">
                    <h3 class="lines-effect">CONOCE MÁS</h3>
                </section>
                <section class="comentario">
                    <article class="envio">
                        <i class="fas fa-truck"><span>NO TE MUEVAS DE CASA</span></i>
                        <p>Hacemos envíos a todo el país</p>
                    </article>
                    <article class="pago">
                        <i class="fas fa-credit-card"><span>PAGÁ COMO QUIERAS</span></i>
                        <p>Aceptamos crédito, débito o efectivo</p>
                    </article>
                    <article class="calidad">
                        <i class="far fa-handshake"><span>CALIDAD ASEGURADA</span></i>
                        <p>Usamos materiales de primera calidad</p>
                    </article>
                </section>
            
        </main>
    <footer class ="footer-detail">
        <div>
            <section>
                <h2>Información</h2>
                <h3>Preguntas Frecuentes</h3>
                <h3>Quienes Somos</h3>
            </section>
            <br>
        <section>
            <h2>Medios de Pago</h2>
            <div class="icons-v">
                <div><i class="far fa-money-bill-alt"></i></div>
                <div><i class="fab fa-cc-visa"></i></div>
                <div><i class="fab fa-cc-amex"></i></div>
                <div><i class="fab fa-cc-mastercard"></i></div>
            </div>
            </section>
            <br>
        <section class ="contac-v">
            <h2>Contactanos</h2>
                <div><i class="fas fa-phone-alt"><span>1111111111</span></i></div>
                <div><i class="fas fa-envelope"></i><span>los3mosqueteros@gmail.com</span></i></div>
        </section>
    </div>
    </footer>
</body>
</html>