<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link href="//db.onlinewebfonts.com/c/207d3f57810bef8d49e2f1b5f1722fb2?family=Purista" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href=".vscode">
    
    <title>Carrito producto</title>
</head>
</head>
<body>
    <header class = "main-header">
        <div class="top-header" >
            <a href="/"><img class="logo" src = "/images/logo-b.svg" alt ="logo de marca" ></a>
             <nav class="links-user">
                 <ul>
                     <li><a href = "/register">Crear cuenta |</a></li> 
                     <li><a href = "/login">Iniciar sesión</a></li>
                 </ul>
             </nav>
            </div>
            <nav class="bottom-header" >
                    <ul class = "links-v">
                        <li><a class ="naranja-v" href = "/">HOME </a></li>
                        <li><a href = "/">PRODUCTOS </a></li>
                        <li><a href = "/">OFERTAS</a></li>
                    </ul>
                    <div class = "search-v">
                        <div class="form" action="#" method="GET">
                            <div class="input-buscar">Buscar
                                <div class="submit"><i class="fa fa-search"></i></div>
                            </div>
                        </div>
                    </div>
            </nav>    
                         </div>
                    <div class="burger-menu">
                        <nav class="navigation">
                            <label class="burger-menu" for="burger"><label for="burger"> ☰ </label>
                            <input type="checkbox" class="burger-check" id="burger">
                            <ul class="burger-options">
                                <li><a href="/">Home</a></li>
                                <li><a href="#">Productos</a></li>
                                <li><a href="#">Ofertas</a></li>
                                <li><a href="/register">Crear Cuenta</a></li>
                                <li><a href="/login">Inicia Sesión</a></li>
                                <li><a href="/productCart">Carrito<i class="fa-solid fa-cart-shopping"></i></a></li>
                            </ul>
                        </nav>
                    </div>
            </header>
        <main class="main-carrito">
            <section class="efecto-principal">
                <h1 class="lines-effect">CARRITO</h1>
            </section>
        <section class="detalle-carrito">
            <div class="cart-table-container">
                <table class="cart-table">
                    <thead>    
                        <tr>
                            <td class="cart-table-image">Tu producto</td>
                            <td class="cart-table-description">Nombre de producto</td>
                            <td class="cart-table-price">Precio</td>
                            <td class="cart-table-quantity">Cantidad</td>
                            <td class="cart-table-total">Total</td>
                            <td class="cart-table-delete"></td>
                        </tr>
                    </thead>
                <tbody>
                    <tr>
                        <td class="cart-table-image"><img src="/images/escritorio.jpg" alt="Imagen de producto"></td>
                        <td class="cart-table-description"><p>Escritorio Madera Industrial</p></td>
                        <td class="cart-table-price">$ 13500</td>
                        <td class="cart-table-quantity"><input type="number" class="product-quantity" name="product-quantity" placeholder="2"></td>
                        <td class="cart-table-total">$ 13500</td>
                        <td class="cart-table-delete"><a href="#"><i class="fa fa-trash"></i></a></td>
                    </tr>
                    <tr>
                        <td class="cart-table-image"><img src="/images/espejo.jpg" alt="Imagen de producto"></td>
                        <td class="cart-table-description"><p>Espejo de armazon de hierro</p></td>
                        <td class="cart-table-price">$ 21900</td>
                        <td class="cart-table-quantity"><input type="number" class="product-quantity" name="product-quantity" placeholder="2"></td>
                        <td class="cart-table-total">$ 21900</td>
                        <td class="cart-table-delete"><a href="#"><i class="fa fa-trash"></i></a></td>
                    </tr>
                </tbody>    
            </table>
        </div>
        <div class="cart-bottom">
            <div class="total-price-container">
                <div class="total-price">
                    <p> Precio total : $ 35400</p>
                </div>
            </div>
            <div class="return">
                <p><a href="/"><i class="fa fa-arrow-left"></i> ¡Segui Comprando!</a></p>
            </div>
            <div class="confirm-cart">
                <p><a href="#">Confirma tu compra</a></p>
            </div>
        </div>
        </section>
        </main>
        <footer>
            <div>
                <section>
                    <h2>Información</h2>
                    <h3>Preguntas Frecuentes</h3>
                    <h3>Quienes Somos</h3>
                </section>
                <br>
            <section>
                <h2>Medios de Pago</h2>
                <div class="icons-v">
                    <div><i class="far fa-money-bill-alt"></i></div>
                    <div><i class="fab fa-cc-visa"></i></div>
                    <div><i class="fab fa-cc-amex"></i></div>
                    <div><i class="fab fa-cc-mastercard"></i></div>
                </div>
                </section>
                <br>
            <section class ="contac-v">
                <h2>Contactanos</h2>
                    <div><i class="fas fa-phone-alt"><span>1111111111</span></i></div>
                    <div><i class="fas fa-envelope"></i><span>los3mosqueteros@gmail.com</span></i></div>
            </section>
        </div>
        </footer>
    </body>
    </html>