<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link href="//db.onlinewebfonts.com/c/207d3f57810bef8d49e2f1b5f1722fb2?family=Purista" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href=".vscode">
    <title>Detalle del Producto</title>
</head>
<body>
    <header>
        <div class ="top-header">
            <img class="logo" src = "/images/logo-b.svg" alt ="logo de marca" a href="/" ></a>  
             <div class="links-user">
                     <a href = "/register">Crear cuenta |</a>
                     <a href = "/login">Iniciar sesión</a>
             </div>
            </div>
            <div class = "bottom-header">
                <nav>
                    <ul class ="links-page">
                        <li><a class ="orange" href = "/">HOME </a></li>
                        <li><a href = "/">PRODUCTOS </a></li>
                        <li><a href = "/">OFERTAS</a></li>
                    </ul>
                </nav>
                <div class = "search-v">
                    <div class="form" action="#" method="GET">
                        <div class="input">Buscar
                            <div class="submit"><i class="fa fa-search"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            </header>
    <main>
            <h4>Detalle del Producto</h4>
        </section>
        <div class="main.conteiner">
                    <img class="img-product" src ="/images/escritorio.jpg" alt="Escritorio">
                    <div class="inf-product">
                        <h4>Escritorio X </h4>
                        <h4>$40.000</h4>
                        <h4>Descripción:
                            <p class="description-v"> Escritorio hecho con madera refinada y soporte de hierro en forma de X. Con un atractivo diseño, este modelo combina lo fino y delicado con el estilo industrial e informal, ideal para cualquier espacio de la casa.</p>
                            <br>
                        </h4>
                        <h4>Medidas:
                            <p>74cm de altura - 60 cm de ancho - 120cm de largo.</p>
                        </h4>
                        <br>
                        <h4>Información adicional:
                            <p class = "description-v">El modelo se entregará armado al domicilio indicado. Consulte el costo de envió según su ubicación.</p>
                            <p class = "description-v">Las medidas pueden ser personalizadas según su preferencia.</p>
                        </h4>
                        <br>
                        <a href="/productCart"><form action = "productCart.html" method = "POST"></a> 
                            <p>
                                <button class = "button-carrito" type = "submit">Agregar al carrito</button>
                            </p>
                        </form>
                    </div>
                </div>
                <section>
                    <h4>CONOCE MÁS</h4>
                </section>
                <section>
                    <article class=>
                        <i class="fas fa-truck"><span>NO TE MUEVAS DE CASA</span></i>
                        <p>Hacemos envíos a todo el país</p>
                    </article>
                    <article class=>
                        <i class="fas fa-credit-card"><span>PAGÁ COMO QUIERAS</span></i>
                        <p>Aceptamos crédito, débito o efectivo</p>
                    </article>
                    <article class=>
                        <i class="far fa-handshake"><span>CALIDAD ASEGURADA</span></i>
                        <p>Usamos materiales de primera calidad</p>
                    </article>
                </section>
            
        </main>
    <footer>
            <section>
                <h4>Información</h4>
                <h5>Preguntas Frecuentes</h5>
                <h5>Quienes Somos</h5>
            </section>
            <br>
        <section>
            <h4>Medios de Pago</h4>
            <div class="icons-v">
                <div><i class="far fa-money-bill-alt"></i></div>
                <div><i class="fab fa-cc-visa"></i></div>
                <div><i class="fab fa-cc-amex"></i></div>
                <div><i class="fab fa-cc-mastercard"></i></div>
            </div>
            </section>
            <br>
        <section class ="contact-v">
            <h4>Contactanos</h4>
                <div><i class="fas fa-phone-alt"><span>1111111111</span></i></div>
                <div><i class="fas fa-envelope"></i><span>los3mosqueteros@gmail.com</span></i></div>
        </section>
    
    </footer>
</body>
</html>

