<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link href="//db.onlinewebfonts.com/c/207d3f57810bef8d49e2f1b5f1722fb2?family=Purista" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Detalle del Producto</title>
</head>
<body>
    <header>
        <div class="top-header">
            <figure class="logo">
                <img src = "/images/logo.png" alt ="logo de marca">
            </figure>
            <div class="form" action="#" method="GET">
                <div class="input">Buscar</div>
                <div class="submit"><i class="fa fa-search"></i></div>
            </div>
            <nav>
                <ul>
                    <li><a href = "#">Creá tu cuenta</a></li>
                    <li><a href = "#">Iniciar sesión</a></li>
                </ul>
                <ul>
                    <li><a href = "#">Home</a></li>
                    <li><a href = "#">Productos</a></li>
                    <li><a href = "#">Ofertas</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section>
            <div>
                <img src ="/images/escritorio.jpg" alt="Escritorio">
                <h2>Escritorio</h2>
                <h2>$40.000</h2>
                <h3>Descripción:
                    <p>lorem blabla</p>
                </h3>
                <h3>Medidas:
                    <p>lorem blabla</p>
                </h3>   
            </div>
        </section>
    </main>
    <footer>
        <img src = "/images/logo.png" alt ="logo de marca">
        <section>
            <h2>Información</h2>
            <h3>Preguntas Frecuentes</h3>
            <h3>Quienes Somos</h3>
        </section>
        <section>
            <h2>Medios de Pago</h2>
            <div><i class="far fa-money-bill-alt"></i></div>
            <div><i class="fab fa-cc-visa"></i></div>
            <div><i class="fab fa-cc-amex"></i></div>
            <div><i class="fab fa-cc-mastercard"></i></div>
        </section>
        <section>
            <h2>Contactanos</h2>
            <div><i class="fas fa-phone-alt"></i></div>
            <h3>1111111111</h3>
            <div><i class="fas fa-envelope"></i></div>
            <h3>los3mosqueteros@gmail.com</h3>
        </section>
        </footer>
</body>
</html>