<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link href="//db.onlinewebfonts.com/c/207d3f57810bef8d49e2f1b5f1722fb2?family=Purista" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Detalle del Producto</title>
</head>
<body>
    <header>
        <div class="top-header">
            <figure class="logo">
                <img src = "/images/logo.png" alt ="logo de marca">
            </figure>
            <div class="form" action="#" method="GET">
                <div class="input">Buscar</div>
                <div class="submit"><i class="fa fa-search"></i></div>
            </div>
            <nav>
                <ul>
                    <li><a href = "#">Creá tu cuenta</a></li>
                    <li><a href = "#">Iniciar sesión</a></li>
                </ul>
                <ul>
                    <li><a href = "#">Home</a></li>
                    <li><a href = "#">Productos</a></li>
                    <li><a href = "#">Ofertas</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section>
            <h2>CREAR CUENTA</h2>
            <form>
                <div>
                    <label for="name">Nombre</label>
                    <br>
                    <input type="text" id="name" name="visitor_name" placeholder="Ej. Juan Perez">
                </div>
                <div>
                    <label for="email">Email</label>
                    <br>
                    <input type="email" id="email" name="visitor_email" placeholder="ejemplo@gmail.com">
                </div>
                <div>
                    <label for="telephone">Teléfono</label>
                    <br>
                    <input type="number" id="telephone" name="visitor_telephone" placeholder="3510000000">
                </div>
                <div>
                    <label for="pasword">Contraseña</label>
                    <br>
                    <input type="pasword" id="pasword" name="visitor_pasword" placeholder="Contraseña">
                </div>
                <div>
                    <label for="checkpassword">Confirmar contraseña</label>
                    <br>
                    <input type="pasword" id="pasword" name="visitor_pasword" placeholder="Confirmar contraseña">
                </div>
            </form> 
            <div>
                <button type="submit">CREAR CUENTA</button>
                <p>¿Ya tenés cuenta? <a href="/login">¡Iniciá sesión!</a></p>
            </div>    
        </section>
        <section>
            <h3>¡Seguínos!</h3>
            <div>
                <a href="https://www.instagram.com"><img src="/images/logo-ig.jpg" alt="Instagram"></a>
                <a href="https://www.facebook.com"><img src="/images/logo-face.jpg" alt="Facebook"></a>
                <a href="https://web.whatsapp.com"><img src="/images/logo-wsp.jpg" alt="Whatsapp"></a>
            </div>
        </section>
        <section>
            <article>
                <i class="fas fa-truck"><h4>NO TE MUEVAS DE CASA</h4></i>
                <p>Hacemos envíos a todo el país</p>
            </article>
            <article>
                <i class="fas fa-credit-card"><h4>PAGÁ COMO QUIERAS</h4></i>
                <p>Aceptamos crédito, débito o efectivo</p>
            </article>
            <article>
                <i class="far fa-handshake"><h4>CALIDAD ASEGURADA</h4></i>
                <p>Usamos materiales de primera calidad</p>
            </article>
        </section>
    </main>   
    <footer>
        <img src = "/images/logo.png" alt ="logo de marca">
        <section>
            <h2>Información</h2>
            <h3>Preguntas Frecuentes</h3>
            <h3>Quienes Somos</h3>
        </section>
        <section>
            <h2>Medios de Pago</h2>
            <div><i class="far fa-money-bill-alt"></i></div>
            <div><i class="fab fa-cc-visa"></i></div>
            <div><i class="fab fa-cc-amex"></i></div>
            <div><i class="fab fa-cc-mastercard"></i></div>
        </section>
        <section>
            <h2>Contactanos</h2>
            <div><i class="fas fa-phone-alt"></i></div>
            <h3>1111111111</h3>
            <div><i class="fas fa-envelope"></i></div>
            <h3>los3mosqueteros@gmail.com</h3>
        </section>
        </footer>
</body>
</html>