h1,h2,h3,h4,h5,h6{
    font-family: 'Orbitron', sans-serif;
}

p{
    font-family: "Purista", sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
/*
:root{
    --Negro: #000000;
    --Blanco: #FFFFFF;
    --GrisOscuro: #292E33;
    --GrisClaro: #535C66;
    --Naranja: #E04B3C
}
*/
/*valen*/
body{ 
    background-color: #FFFFFF;
    margin: auto;
    font-size: 12px;
    width: 100%;

}
header,
footer {
    background-color: #292E33;
    color:#FFFFFF;
    font-family: 'Orbitron', sans-serif;
    font-size: 12px;
    width: 100%;
     
}
.footer-detail{
    height: 150px;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 8px;
    font-weight: 200;

}
footer div{
    margin: auto;
    width: 80%;
}

footer h2, h3, span{
    font-size: 11px;
    font-weight: 200;
}
footer h2:hover{
    font-weight: bold;
    
}
footer h3:hover{
    font-weight: bold;
    
}
footer span:hover{
    font-weight: bold;
}

.main-header{
    padding: 15px;
    width: 100%;
    flex-wrap: wrap;
}

.icons-v{
    display:flex;
    justify-content: center;
    width: 30%
}

.top-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
     
}
.logo{
    width: 75px;
}

.links-user{
    margin-top: -45px;
    margin-bottom: -50px;
}

.bottom-header{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    position: relative;
    
}
.links-v{
    display: flex;
    padding: 10px;
    margin-top: -25px;
    margin-bottom: 15px;
    margin-right: -15px;
    text-align: center;
    justify-content: center;
    position: absolute;
    left: 85px
}

.links-v li{
    margin: 0 5px;  
}

.search-v .input{
    display: flex;
    justify-content: space-between;
    background-color: #535C66;
    font-family: orbitron;
    border: none;
    transition: all 0.4s;
    color: white;
    font-weight: 200;
    border-radius: 5px;
    padding: 5px 10px;
    position: relative;
    font-size: 9px;
    left: 350px;
    bottom: 20px;
}
.search-v .input i{
    margin-left: 3px;
}


.main-header ul,li{
    display: inline;
    list-style: none;
    text-decoration: none;
}

.main-header li :hover{
    text-decoration: underline;
}

a{
    color: #FFFFFF;
    text-decoration: none;
}
.naranja-v{
    color:#E04B3C
}

/*fin header & footer*/

/*Main content - Product Detail*/

.conteiner-main{
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    display: block;
    width: 100%;
    margin: auto;
    background-image: url("/images/fondo-geom.jpg");
    background-size: cover;
}

.imgproducto-v{
    display: flex;
    width: 90%;
    margin-bottom: 8px;
}

.infoproducto-v{
    width: 100%;
    text-align: center;
}

main h2{
    text-align: center;
    font-size: 16px;
    margin-top: 2px;
}

main h3{
   padding: 5px;
   margin-top: 1px;
   font-size: 13px;
}

.description-v{
    word-wrap: break-word;
    font-weight: 500;
}

.button-carrito{
    padding: 10px 20px;
    background-color: #535C66;
    font-size: 12px;
    font-family: orbitron;
    border-radius: 5px;
    margin-bottom: 2px;
    margin-top: 20px;
    border: none;
    font-weight: bold;
    color: white;
    transition: all 0.4s
}
.button-carrito:hover{
    background-color: #292E33;
    color:#E04B3C;
}

.comentario{
    width: 80%;
    margin: auto;
    text-align: center;
}

.comentario article{
    padding: 15px 0px;
    width: 100%;
}
.comentario article i {
    font-size: 0,5rem;
    width: 100%;
    margin: auto;
    padding:10px 0px
}

.comentario span{
    font-family: 'Orbitron' , sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 0px 10px;
}
.comentario p{
    font-family: purista;
    font-size: 12px;
}

/* FIN Main content - Product Detail*/

@media (min-width: 768px){ 
    .logo{
        width: 105px;
    }
    .links-v{
        display: flex;
        text-align: center;
        justify-content: center;
        position: absolute;
        padding: 10px;
        margin-top: -50px;
        margin-bottom: 15px;
        right: 90px;
        font-size: 14px;
    }
    .links-v li{
        margin: 0 5px;  
    }
    .links-user{
        margin-top: -60px;
        font-size: 14px;
    }
    .search-v .input{
        font-size: 10px;
        left: 650px;
        bottom: 35px;
        border-radius: 5px;
        padding: 5px 10px;
    }
    .search-v .input i{
        margin-left: 20px;
    }
    footer{
        flex-direction: row; 
        justify-content: space-around;
    }

    footer div{
        width: 80%;
        display: flex;
        margin: auto;
        justify-content: space-around;
    }

    footer div section{
        width: 30%;
    }

    footer h2{
        font-size: 14px;
    }
    footer h3, span{
        font-size: 13px;
        font-weight: 300;
    }
    .icons-v{
        width: 60%;
        font-size: 2em;
    }
    .page-v{
        font-size: 14px;
        margin-bottom: 5px;
    }
    .imgproducto-v{
        width: 95%;
    }
    .infoproducto-v{
        width: 95%;
        
    }
    .button-carrito{
        margin-top: 30px;
        
    }
}

@media (min-width: 1024px) {
    .logo{
        width: 112px;
    }
    .links-v{
        margin-bottom: 35px;
        font-size: 18px;
    }
    .links-v li{
        margin: 0 10px;  
    }
    .search-v .input{
        font-size: 12px;
        left: 850px;
        bottom: 45px;
        border-radius: 5px;
        padding: 5px 10px;
    }
    .search-v .input i{
        margin-left: 50px;
    }
    .imgproducto-v{
        width: 50%;
    }
    .infoproducto-v{
        width: 50%;
       font-size: 18px;

    }
    .conteiner-main{
        flex-direction: row;
    }

    .comentario span{
        font-size: 15px;
    }
    .comentario p{
        font-size: 13px;
    }
    


}
















































































































































/* carrito producto */

/*burguer menu*/

  label.burger-menu i {
    font-size: 14px;
    padding: 5px;
    color: white;
    font-variant: small-caps;
    background-size: cover;
}

label.burger-menu {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    text-align: center;
    background-color: #292E33;
    border-radius: 20%;
    box-shadow: 0 0 5px #fff;
}

input.burger-check {
    opacity: 0;
}

div.burger-menu {
    position: center;
    user-select: none;
}

ul{
    display: none;
  }
  
  input:checked  ~ ul{
    display:block;
  }

  input {
    display: none;
  }

div.burger-menu a {
    text-decoration: none;
    color: white;
    transition: color 0.2s ease;
}

div.burger-menu a:hover {
    color:#E04B3C;
}

div.burger-menu ul.burger-options {
    display: block;
    position: center;
    text-align: center;
    padding: 50px;
    background-color: #292E33;
    list-style-type: none;
    border-radius: 20px;
    top: 100%;
    left:0;
    right:50%;
    transform: translate(0 , -300%);
    z-index: 100;
    opacity: 0;
    width: 100px;

}

div.burger-menu .burger-options li {
    padding: 10px 0;
    font-size: 14px;
    text-align: justify;
    border-radius: 20px;
}

.burger-menu input:checked ~ ul{
    transform: none;
    opacity: 0.70;
    width: 50%;
}


main{
    margin: auto;
    background-image: url("/images/fondo-geom.jpg");
    background-size: cover;
}
.lines-effect{
    display: inline-block;
    position: relative;
    justify-content: space-around;
}

h1 {
    font-size:20px;
}

h1::after, h1::before{
    content:'';
    position:absolute;
    width: 29vw;
    height: 2px;
    background-color: black;
    top: 0.6rem
}
h1::before{
    left: -34vw
}
h1::after{
    right: -34vw
}

.cart {
    width: 95vw;
    max-width: 900px;
    margin: auto;
    padding-bottom: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);

 }

 .cart-table-container {
    overflow-x: auto;
}

::-webkit-scrollbar {
    height: 10px;
    background: lightgrey;
    box-shadow: 0px 0px 3px rgb(75, 75, 75);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #2c2c2c, rgb(75,75,75));
    border-radius: 10px;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    font-family: "Purista", sans-serif;
}

.cart-table thead td{
    color: rgb(10, 10, 10);
    font-weight: 400;
    padding:5px 0;
    font-size: 14px;
}

.cart-table td {
    text-align: center;
}

.cart-table tbody tr {
    border-bottom: 1px solid rgb(67, 61, 61);
}

.cart-table-image {
    width: 200px;
}

.cart-table-image img {
    width: 90%;
    height: 100px;
    padding: 1px 0 1px 0;
    object-fit: contain;
}

.cart-table-description {
    width: 200px;
}

.cart-table td .product-quantity { 
    width: 30px;
    padding: 1px;
    text-align: center;
}  

.cart-table-price, .cart-table-total {
    width: 80px;
}

.cart-table-quantity {
    width: 70px;
}

.cart-table-delete {
    width: 50px;
}

.cart-table-delete i {
    color: #E04B3C;
}

/* vista final compra*/

.cart-bottom {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.cart-bottom .total-price-container {
    width: 100%;
    text-align: right;
    margin-bottom: 20px;
    font-weight: bold;
}

.cart-bottom a {
    text-decoration: none;
    color:#696464;
}

.cart-bottom .confirm-cart p {
        padding: 10px 20px;
        background-color: #535C66;
        font-size: 12px;
        font-family: 'Orbitron', sans-serif;
        border-radius: 5px;
        margin-bottom: 2px;
        margin-top: 4px;
        border: none;
        font-weight: bold;
        color: white;
        transition: all 0.4s
    }


.cart-bottom .confirm-cart p a {
    color: white;
    transition: all 0.5s;
}

/* Medias queries carrito */

@media (min-width: 768px) {
    
    /*HEADER
    
    .login {
        display:none;
    }
    
    .top-navbar {
        display: block;
        width: 31%;
    }
    
    .search-v {
        order:0;
        width: 31%;
        text-align: left;
    }
    
    header .logo {
        width: 20%;
    }
    */
    
    /*MAIN*/

    .cart-bottom .confirm-cart p:hover {
            background-color: #292E33;
            color:#E04B3C;
    }

    .cart-bottom .confirm-cart p a:hover {
        color: #E04B3C;
        text-align: center;
        font-size: 15px ;
    }
}















































































/*fran*/
.main-login-register{
    background-image: url("/images/fondo-geom.jpg");
    background-size: cover;
}

h2{
    font-size:20px;

}
.efecto-principal{
    margin-bottom: 10px;
    padding-top:20px;
    text-align: center
}
.lines-effect{
    display: inline-block;
    position: relative;
    justify-content: space-around;
}
h2::after, h2::before{
    content:'';
    position:absolute;
    width: 25vw;
    height: 2px;
    background-color: black;
    top: 0.6rem
}
h2::before{
    left: -29vw
}
h2::after{
    right: -29vw
}


.login-register-form{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.login-register-form div{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.login-register-form label{
    font-size:14px;
    font-weight: 450;
    margin-bottom: 2px;
    margin-top:6px;
    font-family: 'Orbitron', sans-serif;
}
.control{
    width: 100%;
    background-color: #535C66;
    padding:0.2rem;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 4px;
    border: none;
    font-family: 'Purista', sans-serif
}
.control:focus{
    padding:0.3rem;
    background-color: #535c66e3;
}
.control:focus::placeholder{
    color: black;

}
.login-register-form p{
    font-size:12px;
    padding:0px;
}
.login-register-form a{
    text-decoration: none;
    color: black
}
.login-register-form a:hover{
    text-decoration: underline;
    color: black
}
.button{
    padding: 10px 20px;
    background-color: #535C66;
    font-size: 14px;
    font-family: orbitron;
    border-radius: 5px;
    margin-bottom: 2px;
    margin-top: 4px;
    border: none;
    font-weight: bold;
    color: white;
    transition: all 0.4s
}
.button:hover{
    background-color: #292E33;
    color:#E04B3C;
    
}
.login-register-btn{
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    width: 100%;
    align-items: flex-end
}

#remember{
    display: flex;
    flex-direction: row;
    justify-content: flex-end
}

.follow{
    margin-bottom: 10px;
    padding-top:20px;
    text-align: center
}
.follow h3{
    font-size:16px;
    font-weight: 500;
}
.lines-effect{
    display: inline-block;
    position: relative;
    justify-content: space-around;
}
h3::after, h3::before{
    content:'';
    position:absolute;
    width: 29vw;
    height: 2px;
    background-color: black;
    top: 0.6rem
}
h3::before{
    left: -34vw
}
h3::after{
    right: -34vw
}
.follow-icons{
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin: auto;
}
.follow-icons a{
    text-decoration: none;
    color: black
}
#logo-ig{
    font-size: 2.5rem;
    width: 30%;
    transition: all 0.4s
}
#logo-ig:hover{
    color: rgb(200, 59, 59);
    font-size: 3rem;
}
#logo-fb{
    font-size: 2.5rem;
    width: 30%;
    transition: all 0.4s
}
#logo-fb:hover{
    color: blue;
    font-size: 3rem;
}
#logo-wsp{
    font-size: 2.5rem;
    width: 30%;
    transition: all 0.4s
}
#logo-wsp:hover{
    color: rgb(73, 203, 73);
    font-size: 3rem;
}
hr{
    width: 95vw;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 1px 0px;
    background-color: black;
    border: none
}


section.banner div{
    width: 100%;
}

section.banner div img{
    width: 100%;
}




@media (min-width: 768px){
    .comentario{
        padding: 2%;
        width: 80%;
        display:flex;
        justify-content: space-around;
        justify-content: center;
        align-items: flex-start;
        margin: auto;
        text-align: center;
    }
    .comentario article  {
        width: 30%;
    }
    .login-register-form div {
        width: 60%;
        margin: auto;
    }
}


















































































/* laurin*/







